# Add any directories, files, or patterns you don't want to be tracked by version control
*.class
target/
data/
*.iml
*.jar
.idea
*.aux
*.log
*.pyc
*.csv
results/
.DS_Store
ml/data/
ml/checkpoints/
__pycache__/
.flattened-pom.xml
